<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="toolbar">
    <h2>{{ title }}</h2>
  </nav>
  <section class="content">
    <div class="card-container">
      
      <div class="card">
        <h4 class="card-title">Contenido Tabla Personas</h4>
        <p class="card-text">Estamos usando una api rest de php/mysql</p>
        <p>{{ VDevueltos }}</p>
        
      </div>
      <button (click)="llamarPHP()">Llamar a PHP</button>
    </div>
  </section>
  <footer class="footer">
    <p>Diseñado por Daniel Sanchez Fuertes</p>
  </footer>
  
</body>
</html>
<router-outlet></router-outlet>
